.buys-table-control-panel {
    align-items: end;
    gap: 44px;
}

table, table tr, tr td {
    border: 1px solid #000000;
}

thead {
    background-color: var(--main-color);
}

tr.table-title {
    background-color: var(--second-color);
}

.table-title h1 {
    padding-bottom: 22px;
    padding-top: 22px;
}

.table-header h2 {
    padding: 15px;
}

tr {
    height: fit-content;
}

tbody tr:nth-child(odd){
    background-color: var(--table-row1);
}
tbody tr:nth-child(even){
    background-color: var(--table-row2);
}

td {
    font-size: 20px;
    background-color: transparent;

    height: fit-content;
    text-align: center;
}

td input {
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    text-align: center;
    width: 100%;
}

td h2 {
    margin: 0;
}
