.buys-table {
    align-items: end;
}

.buys-table button {
    align-self: end;
    margin-left: 22px;
    margin-right: 22px;
    width: auto;
}

.buys-table button:last-child {
    margin-right: 0;
}

table, table tr, tr td {
    border: 1px solid #000000;
}

thead {
    background-color: var(--main-color);
}

tr.table-title {
    background-color: var(--second-color);
}

.table-title h1 {
    padding-bottom: 22px;
    padding-top: 22px;
}

.table-header h2 {
    padding: 15px;
}

input{
    width: 100%;
}

tr {
    height: fit-content;
}

tbody tr:nth-child(odd){
    background-color: var(--table-row1);
}
tbody tr:nth-child(even){
    background-color: var(--table-row2);
}

td {
    font-size: 20px;
    background-color: transparent;

    height: fit-content;
    text-align: center;
}

td input {
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    text-align: center;
}

td h2 {
    margin: 0;
}
